<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangshi.multiblog.mapper.ParentMenuMapper">
  <resultMap id="BaseResultMap" type="com.zhangshi.multiblog.entity.ParentMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_menu_name" jdbcType="VARCHAR" property="parentMenuName" />
    <result column="parent_menu_no" jdbcType="VARCHAR" property="parentMenuNo" />
  </resultMap>

  <resultMap id="ResultMap" type="com.zhangshi.multiblog.entity.ParentMenu" extends="BaseResultMap">
    <collection property="childMenus" column="parenMenu_id" ofType="com.zhangshi.multiblog.entity.ChildMenu"
                select="com.zhangshi.multiblog.mapper.ChildMenuMapper.getChildMenuByParentMenuId" />
  </resultMap>


  <resultMap id="RouterResultMap" type="com.zhangshi.multiblog.service.userservie.outputdto.RouterList">
    <result column="url" property="url" jdbcType="VARCHAR"/>
    <result column="path" property="path" jdbcType="VARCHAR"/>
    <result column="component" property="component" javaType="java.lang.Object"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="iconCls" property="iconCls" jdbcType="VARCHAR"/>
    <result column="keepAlive" property="keepAlive" jdbcType="BIT"/>
    <result column="parentId" property="parentId" jdbcType="INTEGER"/>
    <association property="meta" javaType="com.zhangshi.multiblog.service.userservie.outputdto.Meta">
      <result column="keepAlive" property="keepAlive"/>
      <result column="requireAuth" property="requireAuth"/>
    </association>
    <collection property="children" ofType="com.zhangshi.multiblog.service.userservie.outputdto.RouterList">
      <result column="path2" property="path" jdbcType="VARCHAR"/>
      <result column="component2" property="component" jdbcType="VARCHAR"/>
      <result column="name2" property="name" jdbcType="VARCHAR"/>
      <result column="iconCls2" property="iconCls" jdbcType="VARCHAR"/>
      <association property="meta" javaType="com.zhangshi.multiblog.service.userservie.outputdto.Meta">
        <result column="keepAlive2" property="keepAlive"/>
        <result column="requireAuth2" property="requireAuth"/>
      </association>
      <collection property="children" ofType="com.zhangshi.multiblog.service.userservie.outputdto.RouterList">
        <result column="name3" property="name" jdbcType="VARCHAR"/>
      </collection>
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    id, parent_menu_name, parent_menu_no
  </sql>

  <!--通过Id获取目录-->
  <select id="getParentMenuByPermissionId" resultMap="ResultMap">
    select
    pm.id, pm.parent_menu_name, pm.parent_menu_no,pm.id as parenMenu_id
    FROM permission_parent_menu ppm
    LEFT join parent_menu pm
    on ppm.parent_menu_id = pm.id
    WHERE ppm.permission_id = #{0}
  </select>

  <!-- 获取路由表 -->
  <select id="getRouterListByPermissionIds"  resultMap="RouterResultMap">
    select
    m1.`id`,m1.`path`,m1.`component`,m1.`iconCls`,m1.`name`,m1.`requireAuth`,m2.`component` as component2,m2.`iconCls` as iconCls2,m2.`keepAlive` as keepAlive2,m2.`name` as name2,m2.`path` as path2,m2.`requireAuth` as requireAuth2
    from parent_menu m1,parent_menu m2
    where m1.`id`=m2.`parentId` and m1.`id`!=1
    and m2.`id`
    in
    (SELECT parent_menu_id FROM permission_parent_menu WHERE permission_id
    in
    <foreach collection="permissionId" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>)
    and m2.`enabled`=true order by m1.`id`,m2.`id`
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from parent_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from parent_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhangshi.multiblog.entity.ParentMenu">
    insert into parent_menu (id, parent_menu_name, parent_menu_no
      )
    values (#{id,jdbcType=INTEGER}, #{parentMenuName,jdbcType=VARCHAR}, #{parentMenuNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhangshi.multiblog.entity.ParentMenu">
    insert into parent_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentMenuName != null">
        parent_menu_name,
      </if>
      <if test="parentMenuNo != null">
        parent_menu_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentMenuName != null">
        #{parentMenuName,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuNo != null">
        #{parentMenuNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangshi.multiblog.entity.ParentMenu">
    update parent_menu
    <set>
      <if test="parentMenuName != null">
        parent_menu_name = #{parentMenuName,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuNo != null">
        parent_menu_no = #{parentMenuNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangshi.multiblog.entity.ParentMenu">
    update parent_menu
    set parent_menu_name = #{parentMenuName,jdbcType=VARCHAR},
      parent_menu_no = #{parentMenuNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>