<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangshi.multiblog.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.zhangshi.multiblog.entity.UserRoleKey">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>

  <resultMap id="UserBaseResultMap" type="com.zhangshi.multiblog.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>

<!--通过用户id查用户-->
  <select id="getUserByRoleId" resultMap="UserBaseResultMap" parameterType="int">
  SELECT
  u.id, u.user_name, u.user_no, u.password
  FROM
    user_role ur
  LEFT JOIN user u
    ON  u.id = ur.user_id
    where ur.role_id = #{role_id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.zhangshi.multiblog.entity.UserRoleKey">
    delete from user_role
    where id = #{id,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhangshi.multiblog.entity.UserRoleKey">
    insert into user_role (id, user_id, role_id
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhangshi.multiblog.entity.UserRoleKey">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>